.story-left-right-section{
    padding-top: 285px;
    .left-section{
        .ourstory-title{
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 29px;
            color: $text-141414;
            text-transform: uppercase;
        }
    }

}