.cart-section {
  padding: 225px 0;

  .cart-left {
    flex: 1;
  }

  .cart-title {
    font-size: 30px;
    line-height: 60px;
    color: $text-141414;
    margin-bottom: 42px;
  }
  .cart-head {
    display: flex;
    padding-bottom: 22px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    line-height: 18px;
    color: $text-141414;

    .head-product {
      width: 55%;
    }
    .head-qty {
      width: 20%;
    }

    .head-total {
      width: 20%;
    }
  }
  .cart-item {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;

    .cart-product {
      display: flex;
      align-items: center;
      .cart-image {
        height: 80px;
      }
      .product-info {
        margin-left: 20px;
        width: 55%;

        .product-info-title {
          font-size: 16px;
          line-height: 21px;
          color: $text-141414;
          margin-bottom: 8px;
        }
        .product-info-title {
          font-size: 14px;
          line-height: 21px;
          color: #14141480;
        }
      }
    }
    .quantity-box {
      display: flex;
      align-items: center;
      width: 20%;
      padding-left: 260px;
      .quality-icon {
        margin-left: 30px;
        font-size: 20px;
        line-height: 20px;
      }

      .quantity-box button {
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .cart-price {
      width: 20%;
      color: red;
      font-size: 22px;
      padding-left: 230px;
    }

    .remove-btn {
      border: none;
      background: none;
      font-size: 30px;
      cursor: pointer;
      padding-left: 170px;
    }
  }
  .cart-summary {
    width: 360px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
  }
}

.summary-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.summary-top h3 {
  color: red;
  font-size: 40px;
}

.shipping-text {
  background: #eee;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.checkout-btn {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 40px;
  background: red;
  color: #fff;
  cursor: pointer;
}
