.cart-section {
  padding-top: 200px;
  padding-bottom: 70px;

  .cart-left {
    .cart-title {
      font-size: 30px;
      line-height: 60px;
      margin-bottom: 42px;
    }

    .cart-head {

      // margin-bottom: 23px;
      .head-product {
        font-size: 14px;
        line-height: 18px;
        color: $color-141414;
      }

      .head-qty {
        font-size: 14px;
        line-height: 18px;
        color: $color-141414;
      }

      .head-total {
        font-size: 14px;
        line-height: 18px;
        color: $color-141414;
      }


    }


    .cart-item {
      .cart-product {
        .cart-image {
          height: 78px;
          width: 76px;
          margin-right: 21px;
          border-radius: 5px;
          overflow: hidden;
        }

        .product-info {
          .product-info-title {
            font-size: 16px;
            line-height: 21px;
            color: $color-141414;
            margin-bottom: 8px;
          }

          .product-info-desc {
            font-size: 14px;
            line-height: 21px;
            color: rgba(20, 20, 20, 0.5);
          }
        }
      }
    }

    .quantity-box {
      .quality-icon {
        margin-right: 21px;
        font-size: 16px;
        line-height: 21px;
        color: $color-141414;
      }
    }

    .cart-price {
      font-size: 16px;
      line-height: 21px;
      color: $color-D61E2A;
    }
  }

  .remove-btn {
    height: 14px;
    background: transparent;
    border: none;
  }

  .cart-summary {
    margin-bottom: 50px;
    .summary-top {
      .border-top{
        border-top: 1px solid black;
      }
      .summary-title {
        font-size: 18px;
        line-height: 24px;
        color: $color-141414;
      }

      .summary-price {
        font-size: 28px;
        line-height: 42px;
        color: $color-D61E2A;
      }
    }

    .shipping-text {
      background-color: #F0F0F0;
      padding: 8px 25px 8px 25px;
      border-radius: 10px;
      margin-bottom: 34px;
      font-size: 14px;
      line-height: 28px;
      color: $text-818181;

    }
  }
}