.btnA {
  height: 55px;
  padding-left: 20px;
  padding-right: 35px;
  transition: 0.3s ease;

  @media #{$md} {
    height: 36px;
    padding-left: 13px;
    padding-right: 23px;
  }

  &.bg-141414-btn {
    background-color: $color-141414;
    color: $white;
    font-size: 18px;
    line-height: 27px;
    border: transparent;

    @media #{$md} {
      font-size: 13px;
      line-height: 18px;
    }

    &:hover {
      background-color: $color-FFF8F4;
      color: $text-141414;
      border: 1px solid black;

      .btn-icon,
      .cart-icon {
        filter: invert(1);
      }
    }
  }

  .btn-icon {
    height: 40px;
    @media #{$md} {
      height: 25px;
    }
  }

  .red-btn {
    height: 30px;
    @media #{$md} {
      height: 16px;
    }
  }

  .cart-icon {
    height: 26px !important;
    @media #{$md} {
      height: 14px;
    }
  }

  &.bg-D61E2A-btn {
    background-color: $color-D61E2A;
    color: $white;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid transparent;
    
    @media #{$md} {
      font-size: 14px;
      line-height: 23px;
    }

    &:hover {
      background-color: $color-FFF8F4;
      color: $text-141414;
      border: 1px solid $color-D61E2A;
      .btn-icon {
        filter: invert(1);
      }
    }
  }
}
