.btnA {
  height: 55px;
  padding-left: 20px;
  padding-right: 35px;
  transition: 0.3s ease;

  &.bg-141414-btn {
    background-color: $color-141414;
    color: $white;
    font-size: 18px;
    line-height: 27px;

       @media #{$md} {
        font-size: 14px;
        line-height: 18px;
      }

    &:hover {
      background-color: $color-FFF8F4;
      color: $text-141414;

      .btn-icon,
      .cart-icon {
        filter: invert(1);
      }
    }
  }

  .btn-icon {
    height: 40px;
  }

  .red-btn {
    height: 30px;
  }

  .cart-icon {
    height: 26px !important;
  }

  &.bg-D61E2A-btn {
    background-color: $color-D61E2A;
    color: $white;
    font-size: 18px;
    line-height: 27px;
    border:1px solid transparent;

    &:hover {
      background-color: $color-FFF8F4;
      color: $text-141414;
      border: 1px solid $color-D61E2A;
      .btn-icon {
        filter: invert(1);
      }
    }


  }
}