.bg-D61E2A{
    background-color: $color-D61E2A;
}
.bg-FFF8F4{
    background-color: $color-FFF8F4;
}
.bg-141414{
    background-color: $color-141414;
}
.text-FAFAFA{
    color: $text-FAFAFA;
}
.text-141414{
    color: $text-141414;
}