.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

// .row {
//   margin-left: -0px;
//   margin-right: -0px;

//   & > * {
//     padding-left: 0px;
//     padding-right: 0px;
//   }
// }
.row24 {
  margin-left: -24px;
  margin-right: -24px;

  & > * {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.row5 {
  margin-left: -5px;
  margin-right: -5px;

  & > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row10 {
  margin-left: -10px;
  margin-right: -10px;

  & > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.our-story-section {
  margin-bottom: 190px;

  @media #{$md} {
    margin-bottom: 80px;
  }

  .story-prefix {
    font-size: 18px;
    line-height: 27px;
    color: $text-141414;
  }

  .stoty-title {
    font-size: 50px;
    line-height: 60px;
    color: $text-141414;

    @media #{$md} {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .story-img {
    height: 660px;
    @media #{$md} {
      height: 490px;
    }

    img {
      transition: 0.4s ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .story-content {
    border-bottom: 1px solid rgba($color: #818181, $alpha: 0.3);

    .story-icon {
      height: 43px;
    }

    .story-first {
      font-size: 16px;
      line-height: 20px;
      color: $text-141414;
    }

    .story-second {
      font-size: 14px;
      line-height: 18px;
      color: $text-818181;
    }
  }
}

.marquee-strip {
  overflow: hidden;
  margin-bottom: 140px;
  background-color: $color-FFF8F4;

  @media #{$md} {
    margin-bottom: 80px;
  }

  .marquee-track .slick-track {
    display: flex !important;
    align-items: center !important;
  }

  .marquee-track .slick-slide {
    display: flex !important;
    align-items: center !important;
  }

  .marquee-track .slick-slide > div {
    display: flex;
    align-items: center;
  }

  .marquee-item {
    display: flex;
    align-items: center;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 2px #d61e2a;
    margin-right: 45px;
    white-space: nowrap;
  }

  .marquee-star {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

    .marquee-star img {
      height: 100%;
      display: block;
    }
  }
}

.testimonial-section {
  overflow: hidden;
  margin-bottom: 180px;

  @media #{$md} {
    margin-bottom: 80px;
  }

  .testimonial-heading {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 84px;
    color: $text-141414;

    @media #{$md} {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 40px;
    }
  }

  .testimonial-slider {
    overflow: hidden;
    width: 100%;
  }

  .testimonial-track {
    display: flex;
    align-items: center;
    gap: 24px;
    width: max-content;
    will-change: transform;
  }

  /* RIGHT → LEFT (top slider) */
  .rtl .testimonial-track {
    animation: moveRTL 35s linear infinite;
  }

  /* LEFT → RIGHT (bottom slider) */
  .ltr .testimonial-track {
    animation: moveLTR 35s linear infinite;
  }

  .testimonial-card {
    width: 470px;
    min-width: 470px;
    border-radius: 18px;
    position: relative;
    border: 1px solid #818181;
    transition: 0.4s ease;
    padding: 18px;
    background: white;
    overflow: hidden;
    flex-shrink: 0;

    .user-img {
      height: 170px;
      width: 120px;
      border-radius: 12px;
      overflow: hidden;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .user-name {
      font-size: 14px;
      line-height: 28px;
      color: $text-141414;
    }

    .user-rating {
      font-size: 14px;
      line-height: 28px;
      color: $text-141414;
    }

    .red-star {
      height: 15px;
    }

    .review-text {
      font-size: 14px;
      line-height: 24px;
      color: $text-141414;
    }

    .quote-icon {
      position: absolute;
      right: 17px;
      bottom: -40px;
      font-size: 110px;
      line-height: 1;
      color: #d61e2a1a;
      font-family: serif;
      pointer-events: none;
    }
  }
}

@keyframes moveRTL {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes moveLTR {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.storma-section {
  margin-bottom: 100px;

  @media #{$md} {
    margin-bottom: 60px;
  }
  .stroma-title {
    font-size: 40px;
    line-height: 50px;
    color: $text-141414;

    @media #{$md} {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .storma-slider {
    margin: 0 -10px;
  }

  .storma-slider .slick-slide {
    padding: 0 10px;
  }
  .storma-img {
    height: 360px;
    img {
      transition: 0.4s ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.seller-section {
  margin-bottom: 190px;

  .seller-title {
    font-size: 50px;
    line-height: 50px;
    color: $text-141414;
    @media #{$md} {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .seller-sub-title {
    font-size: 18px;
    line-height: 28px;
    color: $text-141414;
    @media #{$md} {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 15px;
    }
  }

  .product-cards {
    .product-card {
      padding-inline: 14px;
      @media #{$md} {
        margin-bottom: 15px;
      }
      .product-image {
        position: relative;
        height: 320px;
        overflow: hidden;
        border-radius: 18px;
        cursor: pointer;

        .product-img {
          position: absolute;
          inset: 0;

          width: 100%;
          height: 100%;
          object-fit: cover;

          transition: all 0.6s ease;
        }

        .primary-img {
          opacity: 1;
          z-index: 1;
        }

        .secondary-img {
          opacity: 0;
          z-index: 2;
          transform: scale(1.1);
        }

        &:hover .primary-img {
          opacity: 0;
          transform: scale(1.1);
        }

        &:hover .secondary-img {
          opacity: 1;
          transform: scale(1);
        }

        /* TAG + HEART */
        .product-tag,
        .wishlist {
          z-index: 10;
        }

        /* BUTTON */
        .hover-btn {
          position: absolute;
          left: 50%;
          bottom: 20px;
          transform: translateX(-50%) translateY(40px);
          opacity: 0;
          visibility: hidden;
          z-index: 20;
          transition: all 0.5s ease;
        }

        &:hover .hover-btn {
          opacity: 1;
          visibility: visible;
          transform: translateX(-50%) translateY(0);
        }
      }

      .product-tag {
        position: absolute;
        top: 14px;
        left: 14px;
        font-size: 10px;
        border-radius: 6px;
        z-index: 3;
      }

      .wishlist {
        position: absolute;
        top: 14px;
        right: 14px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 3;
      }

      .product-info {
        padding-top: 14px;
      }

      .title-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .product-title {
        font-size: 18px;
        line-height: 24px;
        color: $text-141414;
      }

      .product-discount {
        font-size: 13px;
        line-height: 13px;
        border-radius: 6px;
        background-color: $text-141414;
      }

      .product-price {
        font-size: 16px;
        line-height: 22px;
        color: color-D61E2A;
      }
    }
  }
}

.news_insights-section,
.news-category-section {
  margin-bottom: 120px;

  @media #{$md} {
    margin-bottom: 70px;
  }
  .news-title {
    font-size: 50px;
    line-height: 50px;
    color: $text-141414;

    @media #{$md} {
      font-size: 22px;
      line-height: 35px;
    }
  }
  .news-sub-title {
    font-size: 18px;
    line-height: 28px;
    color: $text-141414;

    @media #{$md} {
      font-size: 13px;
      line-height: 18px;
    }
  }

  .news-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;

    .slick-slide {
      padding: 0 14px;
    }

    .news-card {
      width: 25%;
      padding: 0 14px;
      margin-bottom: 30px;
       @media #{$md} {
     width: 50%;
    }

      .news-image {
        position: relative;
        border-radius: 18px;
        overflow: hidden;
        height: 358px;
      }

      .product-img {
        position: absolute;
        inset: 0;
      }

      .product-tag {
        position: absolute;
        top: 14px;
        left: 14px;
        font-size: 10px;
        border-radius: 6px;
        z-index: 2;
        color: $text-141414;

        @media #{$md} {
          left: 12px;
        }
      }
      .news-content {
        .news-text {
          font-size: 16px;
          line-height: 25px;
          color: $text-141414;
        }
        .news-desc {
          font-size: 13px;
          line-height: 24px;
          color: $text-818181;
        }
        .red-btn {
          height: 32px;
        }
        .news-read {
          font-size: 16px;
          line-height: 24px;
          color: $color-D61E2A;
        }
      }
    }
  }
}

.left-right-image-section {
  padding-top: 230px;
  padding-bottom: 122px;

  @media #{$md} {
    padding-bottom: 80px;
    padding-top: 100px;
  }

  .left-right-content {
    .ourstory-title {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 29px;
      color: $text-141414;
      text-transform: uppercase;

      @media #{$md} {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 12px;
      }
    }

    .aboutus-title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 29px;
      color: $text-141414;
      text-transform: uppercase;
    }

    .aboutus-content {
      .abt-content-title {
        font-size: 16px;
        line-height: 25px;
        color: $text-141414;
        margin-bottom: 7px;

        @media #{$md} {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 19px;
        }
      }

      .aboutus-des {
        font-size: 18px;
        line-height: 28px;
        color: $text-818181;

        @media #{$md} {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 19px;
        }
      }

      .aboutus-foral {
        font-size: 50px;
        line-height: 65px;
        @media #{$md} {
          font-size: 28px;
          line-height: 40px;
        }
      }
    }
  }

  .left-right-img {
    height: 659px;
    overflow: hidden;
    border-radius: 10px;

    @media #{$md} {
      height: 305px;
    }

    &.left-img {
      margin-right: auto;
    }
  }
}
.pagination {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  @media #{$md} {
    padding-top: 20px;
  }
  a {
    text-decoration: none;
  }

  /* Buttons */
  .page-btn,
  .page-number {
    border: none;
    background: $color-FFF8F4;
    color: $text-141414;
    height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    font-family: "Poppins-Regular";
    transition: 0.3s;
    @media #{$md} {
      height: 30px;
      min-width: 30px;
      padding: 10px 15px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  /* Number Circle */
  .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  /* Active Page */
  .page-number.active {
    background: $color-D61E2A;
    color: white;
  }

  /* Hover Effect */
  .page-btn:hover,
  .page-number:hover {
    background: $text-818181;
  }

  .page-number.active:hover {
    background: #c91024;
  }
}

.style-hub-content {
  padding-right: 40px;

  .style-hub-subtitle {
    font-size: 18px;
    line-height: 27px;
    color: $text-141414;
  }

  .style-hub-heading {
    font-size: 50px;
    line-height: 50px;
    color: $text-141414;

    @media #{$md} {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .style-hub-description {
    font-size: 16px;
    line-height: 28px;
    color: $text-141414;

    @media #{$md} {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.faq-heading {
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 30px;
}

/* RIGHT SIDE */
.style-hub-faq-card {
  border-top: 1px solid #14141440;

  &:last-child {
    border-bottom: 1px solid #14141440;
  }

  .style-hub-faq-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    cursor: pointer;
    font-size: 20px;
    color: $text-141414;
    margin-bottom: 0px;
  }

  .down-arrow {
    height: 23px;
    transition: 0.3s ease;
  }

  .style-hub-faq-body {
    display: none;

    .hub-ans {
      padding-bottom: 30px;
      font-size: 16px;
      line-height: 27px;
      color: $text-818181;
      max-width: 700px;
      margin-bottom: 0;
      @media #{$md} {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .hub-title {
    font-size: 20px;
    line-height: 30px;
    color: $color-141414;
    @media #{$md} {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.active {
    .down-arrow {
      transform: rotate(180deg);
    }
  }
}
