.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;

  & > * {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.row24 {
  margin-left: -24px;
  margin-right: -24px;

  & > * {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.row5 {
  margin-left: -5px;
  margin-right: -5px;

  & > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.bg-D61E2A{
    background-color: $color-D61E2A;
}
.bg-FFF8F4{
    background-color: $color-FFF8F4;
}
.bg-141414{
    background-color: $color-141414;
}
.text-FAFAFA{
    color: $text-FAFAFA;
}
.text-141414{
    color: $text-141414;
}
.text-D61E2A{
    color: $text-D61E2A;
}
.text-818181{
    color: $text-818181;
}
.text-f7f7f7{
    color: $text-F7F7F7;
}

.opacity50{
  opacity: $opacity50;
}