
@font-face {
    font-family: "dmsans-medium";
    src: url("../fonts/dmsans-medium.ttf");
}
@font-face {
    font-family: "dmsans-regular";
    src: url("../fonts/dmsans-regular.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Nunito-Light";
    src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf");
}




.dmsans-regular {
    font-family: "dmsans-regular";
}
.dmsans-medium{
    font-family: "dmsans-medium";
}
.Poppins-Regular {
    font-family: "Poppins-Regular";
}
.Poppins-Medium {
    font-family: "Poppins-Medium";
}
.Poppins-Bold {
    font-family: "Poppins-Bold";
}
.Poppins-Light {
    font-family: "Poppins-Light";
}
.Nunito-Light {
    font-family: "Nunito-Light";
}