
@font-face {
    font-family: "dmsans-regular";
    src: url("../fonts/dmsans-regular.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

.DM-Sans {
    font-family: "dmsans-regular";
}
.Poppins-Regular {
    font-family: "Poppins-Regular";
}
.Poppins-Medium {
    font-family: "Poppins-Medium";
}