.winter-product-section {
  padding-top: 225px;
  padding-bottom: 135px;

  @media #{$md} {
    padding-bottom: 95px;
  }

  .winter-title {
    color: $text-141414;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.43px;

    @media #{$md} {
      font-size: 11px;
      line-height: 20px;
    }
  }

  .winter-sub-title {
    color: $text-818181;
    font-size: 18px;
    line-height: 27px;

    @media #{$md} {
      font-size: 11px;
      line-height: 20px;
    }
  }

  .red-btn {
    height: 32px;
  }

  .news-read {
    font-size: 16px;
    line-height: 24px;
    color: $color-D61E2A;

    @media #{$md} {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .winter-cards {
    padding-top: 62px;

    @media #{$md} {
      padding-top: 30px;
    }

    .winter-products {
      .winter-image {
        height: 358px;
        overflow: hidden;
        border-radius: 22px;

        @media #{$md} {
          height: 200px;
        }
      }
    }

    .right-content {
      .right-tag {
        font-size: 14px;
        line-height: 14px;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: $text-F7F7F7;
        color: $text-141414;

        @media #{$md} {
          font-size: 10px;
          line-height: 14px;
        }
      }

      .wishlist {
        height: 21px;

        @media #{$md} {
          height: 18px;
        }
      }

      .right-title {
        font-size: 50px;
        line-height: 65px;
        color: $text-141414;

        @media #{$md} {
          font-size: 32px;
          line-height: 44px;
        }
      }

      .red-tag {
        font-size: 26px;
        line-height: 39px;
        color: $color-D61E2A;

        @media #{$md} {
          font-size: 22px;
          line-height: 25px;
        }
      }

      .line-tag {
        font-size: 18px;
        line-height: 27px;
        color: $text-818181;

        @media #{$md} {
          font-size: 14px;
          line-height: 22px;
        }
      }

      .black-tag {
        background-color: $text-141414;
        color: $white;
        font-size: 13px;
        line-height: 13px;
        padding: 08px 10px;
        border-radius: 10px;

        @media #{$md} {
          font-size: 11px;
          line-height: 20px;
          padding: 05px 8px;
        }
      }

      .right-desc {
        font-size: 16px;
        line-height: 28px;
        color: $text-818181;

        @media #{$md} {
          font-size: 14px;
          line-height: 22px;
        }
      }

      .product-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 30px;
      }

      .size-item {
        .size-text {
          font-size: 16px;
          line-height: 25px;
          color: $color-141414;
        }

        .size-list {
          padding-bottom: 80px;

          @media #{$md} {
            padding-bottom: 45px;
          }

          .size-wrapper {
            border: 1px solid #707070;
            border-radius: 20px;

            &.active {
              border: none;
            }

            .size-index {
              font-size: 14px;
              line-height: 14px;
              color: $text-141414;
              padding: 10px 20px;
              border-radius: 20px;
              background-color: transparent;
              border: 0px;

              @media #{$md} {
                font-size: 10px;
                line-height: 20px;
                padding: 6px 14px;
              }

              &.active {
                background-color: $color-D61E2A !important;
                color: $white;
              }
            }
          }
        }
      }

      .card-item {
        padding-bottom: 85px;

        @media #{$md} {
          padding-bottom: 45px;
        }

        .quantity-box {
          height: 50px;
          border: 2px solid $text-141414;
          border-radius: 50px;
          padding: 10px 20px;
          background-color: #fff;
          gap: 10px;

          @media #{$md} {
            padding: 08px 20px;
            height: 42px;
          }

          .qty-btn {
            border: none;
            background: transparent;
            font-size: 16px;
            color: $text-141414;
            cursor: pointer;
          }

          .qty-number {
            font-size: 14px;
            color: $text-141414;
          }
        }

        .cart-btn {
          height: 50px;
          border: none;
          border-radius: 50px;
          background-color: $text-141414;
          color: $white;
          font-size: 18px;
          font-family: "Poppins-Regular";
          cursor: pointer;
          padding: 12px 80px;

          @media #{$md} {
            padding: 8px 100px;
            height: 42px;
          }

          .card-icon {
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$md} {
              height: 18px;
            }
          }

          //   &:hover{
          //     color: $black;
          //     background-color: transparent;
          //     border: 1px solid $black;
          //   }
        }
      }

      .look-item {
        .look-title {
          color: $text-141414;
          font-size: 25px;
          line-height: 50px;

          @media #{$md} {
            font-size: 19px;
            line-height: 28px;
          }
        }

        .look-list {
          margin-bottom: 100px;

          @media #{$md} {
            margin-bottom: 40px;
          }

          .look-img {
            height: 80px;
            border-radius: 6px;
            overflow: hidden;
          }

          .look-tag {
            font-size: 10px;
            line-height: 13px;
            padding: 20px;
            background-color: $text-F7F7F7;
            color: $text-141414;
          }

          .look-text {
            font-size: 16px;
            line-height: 21px;
            color: $text-141414;
          }

          .look-price {
            font-size: 14px;
            line-height: 18px;
            color: $color-D61E2A;
          }
        }
      }
    }
  }
}

.fashion-arrival-section {
  padding: 20px;
  margin-bottom: 140px;

  @media #{$md} {
    padding: 12px;
    margin-bottom: 70px;
  }

  .fashion-arrival-wrapper {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    min-height: 700px;

    @media #{$md} {
      grid-template-columns: 1fr;
      gap: 14px;
    }

    .fashion-banner-card {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      height: 960px;

      @media #{$md} {
        height: 420px;
        border-radius: 18px;
      }

      &.fashion-small-banner {
        height: 470px;
        margin-bottom: 16px;

        @media #{$md} {
          height: 320px;
          margin-bottom: 14px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .fashion-banner-content {
      position: absolute;
      top: 0px;
      left: 40px;
      z-index: 2;

      @media #{$md} {
        top: 20px;
        left: 20px;
        right: 20px;
      }
    }

    .fashion-small-title {
      font-size: 18px;
      line-height: 27px;

      @media #{$md} {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .fashion-banner-title {
      font-size: 50px;
      line-height: 50px;

      @media #{$md} {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .fashion-banner-text {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 35px;

      @media #{$md} {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    .fashion-right-side {
      display: flex;
      flex-direction: column;

      .fashion-content-right .fashion-banner-content {
        left: auto;
        right: 35px;

        @media #{$md} {
          left: 20px;
          right: 20px;
        }
      }
    }

    .fashion-small-banner .fashion-banner-title {
      font-size: 52px;

      @media #{$md} {
        font-size: 28px;
        line-height: 34px;
      }
    }

    .fashion-small-banner .fashion-banner-text {
      font-size: 18px;
      line-height: 28px;

      @media #{$md} {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.style-hub-section {
  padding-bottom: 140px;

  @media #{$md} {
    padding-bottom: 70px;
  }

  /* LEFT SIDE */
}

.cart-offcanvas {
  width: 500px !important;

  // z-index: 999;
 

  .cart-offcanvas-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .cart-wrapper {
      .cart-iteam {
        margin-bottom: 50px;

        .cart-item-img {
          height: 78px;
          margin-right: 20px;
          overflow: hidden;
          border-radius: 5px;

        }

        .remove-btn {
          height: 15px;
          border: none;
          background: transparent;
        }

        .canvas-product-title {
          font-size: 16px;
          line-height: 21px;
          color: $color-141414;
          margin-bottom: 8px;
        }

        .canvas-product-des {
          font-size: 14px;
          line-height: 21px;
          color: $color-141414;
          opacity: 80%;
          margin-bottom: 6px;
        }

        .canvas-product-price {
          font-size: 14px;
          line-height: 21px;
          color: $color-D61E2A;
        }
      }
    }

    .cart-footer {
      .subtotal-area {
        margin-bottom: 30px;

        span {
          font-size: 18px;
          line-height: 24px;
          color: $color-141414;
        }

        h4 {
          font-size: 28px;
          line-height: 37px;
          color: $color-141414;
        }
      }

      .shipping-note {
        background-color: #f0f0f0;
        font-size: 14px;
        line-height: 28px;
        color: $text-818181;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
      }

      .checkout-btn {
        width: 100%;
        height: 60px;
        border-radius: 50px;
        background: $color-D61E2A;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        transition: 0.3s ease;
        margin-bottom: 30px;

        &:hover {
          background: #111;
          color: #fff;
        }
      }

      .view-cart-btn {
        display: block;
        text-align: center;
        font-size: 18px;
        color: $color-141414;
        text-decoration: underline;
      }
    }
  }
}

.offcanvas-backdrop.show {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
}

.size-guide-offcanvas {
  width: 640px !important;

  @media #{$md} {
    width: 100% !important;
  }
}

.size-guide-content {
  .size-guide-top {
    margin-bottom: 30px;

    h2 {
      font-size: 18px;
      line-height: 28px;
    }

    .btn-close-area {
      border: 0;
      background: transparent;
      padding: 0;

      img {
        width: 28px;
      }
    }
  }

  .size-guide-img {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
    height: 400px;
  }

  .size-guide-desc {
    font-size: 18px;
    line-height: 28px;
    color: $color-141414;
    margin-bottom: 40px;
    padding-left: 20px;

    @media #{$md} {
      font-size: 16px;
      line-height: 24px;
      padding-left: 0px;
    }
  }

  .size-guide-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid #d8d8d8;
    }

    .table-title {
      font-size: 20px;
      line-height: 30px;
    }

    tbody {
      tr {
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
          border-bottom: 0;
        }

      }
    }

    th,
    td {
      padding: 25px 0;
      text-align: center;
      color: $color-141414;
      font-size: 16px;
      font-family: "Poppins-Light";

      @media #{$md} {
        padding: 20px 6px;
        font-size: 14px;
      }
    }

    th:first-child,
    td:first-child {
      text-align: left;
      width: 160px;
    }
  }
}

/* LEFT SIDE */
.colors-item .list-color {
  font-size: 16px;
  line-height: 25px;
  color: $color-141414;
  margin-bottom: 15px;
}

.color-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bg-wrapper {
  padding: 2px;
  border: 1px solid #8c7972;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brouwn-bg {
  background-color: #8c7972;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media #{$md} {
    width: 45px;
    height: 45px;
  }
}

.green-bg {
  background-color: #1a5442;
  width: 50px;
  height: 50px;
  border-radius: 50%;


  @media #{$md} {
    width: 45px;
    height: 45px;
  }
}

.blue-bg {
  background-color: #153e76;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media #{$md} {
    width: 45px;
    height: 45px;
  }
}

/* RIGHT SIDE */
.size-guide {
  padding-top: 10px;
}

.size-guide a {
  font-size: 16px;
  line-height: 25px;
  color: $text-141414;
  text-decoration: underline;
  font-family: "Poppins-Regular";
}