$btn-color: #000000;
$white: #ffffff;
$color-D61E2A: #D61E2A;
$color-FFF8F4: #FFF8F4;
$color-141414: #141414;
$text-FAFAFA: #FAFAFA;
$text-141414: #141414;
$text-818181: #818181;
$text-F7F7F7: #F7F7F7;

// Responsive Variables
$xl: "(max-width: 1600px)";
$lg: "(max-width: 1200px)";
$md: "(max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "(max-width: 576px)";    