@charset "UTF-8";
.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.row24 {
  margin-left: -24px;
  margin-right: -24px;
}
.row24 > * {
  padding-left: 24px;
  padding-right: 24px;
}

.row5 {
  margin-left: -5px;
  margin-right: -5px;
}
.row5 > * {
  padding-left: 5px;
  padding-right: 5px;
}

.row10 {
  margin-left: -10px;
  margin-right: -10px;
}
.row10 > * {
  padding-left: 10px;
  padding-right: 10px;
}

.our-story-section {
  margin-bottom: 190px;
}
@media (max-width: 991px) {
  .our-story-section {
    margin-bottom: 80px;
  }
}
.our-story-section .story-prefix {
  font-size: 18px;
  line-height: 27px;
  color: #141414;
}
.our-story-section .stoty-title {
  font-size: 50px;
  line-height: 60px;
  color: #141414;
}
@media (max-width: 991px) {
  .our-story-section .stoty-title {
    font-size: 30px;
    line-height: 30px;
  }
}
.our-story-section .story-img {
  height: 660px;
}
.our-story-section .story-img img {
  transition: 0.4s ease;
}
.our-story-section .story-img:hover img {
  transform: scale(1.05);
}
.our-story-section .story-content {
  border-bottom: 1px solid rgba(129, 129, 129, 0.3);
}
.our-story-section .story-content .story-icon {
  height: 43px;
}
.our-story-section .story-content .story-first {
  font-size: 16px;
  line-height: 20px;
  color: #141414;
}
.our-story-section .story-content .story-second {
  font-size: 14px;
  line-height: 18px;
  color: #818181;
}

.marquee-strip {
  overflow: hidden;
  margin-bottom: 140px;
  background-color: #FFF8F4;
}
@media (max-width: 991px) {
  .marquee-strip {
    margin-bottom: 80px;
  }
}
.marquee-strip .marquee-track .slick-track {
  display: flex !important;
  align-items: center !important;
}
.marquee-strip .marquee-track .slick-slide {
  display: flex !important;
  align-items: center !important;
}
.marquee-strip .marquee-track .slick-slide > div {
  display: flex;
  align-items: center;
}
.marquee-strip .marquee-item {
  display: flex;
  align-items: center;
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 2px #d61e2a;
  margin-right: 45px;
  white-space: nowrap;
}
.marquee-strip .marquee-star {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.marquee-strip .marquee-star .marquee-star img {
  height: 100%;
  display: block;
}

.testimonial-section {
  overflow: hidden;
  margin-bottom: 180px;
}
@media (max-width: 991px) {
  .testimonial-section {
    margin-bottom: 80px;
  }
}
.testimonial-section .testimonial-heading {
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 84px;
  color: #141414;
}
@media (max-width: 991px) {
  .testimonial-section .testimonial-heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}
.testimonial-section .testimonial-slider {
  overflow: hidden;
  width: 100%;
}
.testimonial-section .testimonial-track {
  display: flex;
  align-items: center;
  gap: 24px;
  width: max-content;
  will-change: transform;
}
.testimonial-section {
  /* RIGHT → LEFT (top slider) */
}
.testimonial-section .rtl .testimonial-track {
  animation: moveRTL 35s linear infinite;
}
.testimonial-section {
  /* LEFT → RIGHT (bottom slider) */
}
.testimonial-section .ltr .testimonial-track {
  animation: moveLTR 35s linear infinite;
}
.testimonial-section .testimonial-card {
  width: 470px;
  min-width: 470px;
  border-radius: 18px;
  position: relative;
  border: 1px solid #818181;
  transition: 0.4s ease;
  padding: 18px;
  background: white;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonial-section .testimonial-card .user-img {
  height: 170px;
  width: 120px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonial-section .testimonial-card .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.testimonial-section .testimonial-card .user-name {
  font-size: 14px;
  line-height: 28px;
  color: #141414;
}
.testimonial-section .testimonial-card .user-rating {
  font-size: 14px;
  line-height: 28px;
  color: #141414;
}
.testimonial-section .testimonial-card .red-star {
  height: 15px;
}
.testimonial-section .testimonial-card .review-text {
  font-size: 14px;
  line-height: 24px;
  color: #141414;
}
.testimonial-section .testimonial-card .quote-icon {
  position: absolute;
  right: 17px;
  bottom: -40px;
  font-size: 110px;
  line-height: 1;
  color: rgba(214, 30, 42, 0.1019607843);
  font-family: serif;
  pointer-events: none;
}

@keyframes moveRTL {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveLTR {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.storma-section {
  margin-bottom: 100px;
}
.storma-section .stroma-title {
  font-size: 40px;
  line-height: 50px;
  color: #141414;
}
.storma-section .storma-img {
  height: 360px;
  width: 280px;
}
.storma-section .storma-img img {
  transition: 0.4s ease;
}
.storma-section .storma-img:hover img {
  transform: scale(1.05);
}

.seller-section {
  margin-bottom: 190px;
}
.seller-section .seller-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
.seller-section .seller-sub-title {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
.seller-section .product-cards .product-card {
  padding-inline: 14px;
}
.seller-section .product-cards .product-card .product-image {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}
.seller-section .product-cards .product-card .product-image .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease;
}
.seller-section .product-cards .product-card .product-image .primary-img {
  opacity: 1;
  z-index: 1;
}
.seller-section .product-cards .product-card .product-image .secondary-img {
  opacity: 0;
  z-index: 2;
  transform: scale(1.1);
}
.seller-section .product-cards .product-card .product-image:hover .primary-img {
  opacity: 0;
  transform: scale(1.1);
}
.seller-section .product-cards .product-card .product-image:hover .secondary-img {
  opacity: 1;
  transform: scale(1);
}
.seller-section .product-cards .product-card .product-image {
  /* TAG + HEART */
}
.seller-section .product-cards .product-card .product-image .product-tag,
.seller-section .product-cards .product-card .product-image .wishlist {
  z-index: 10;
}
.seller-section .product-cards .product-card .product-image {
  /* BUTTON */
}
.seller-section .product-cards .product-card .product-image .hover-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) translateY(40px);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: all 0.5s ease;
}
.seller-section .product-cards .product-card .product-image:hover .hover-btn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.seller-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 3;
}
.seller-section .product-cards .product-card .wishlist {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.seller-section .product-cards .product-card .product-info {
  padding-top: 14px;
}
.seller-section .product-cards .product-card .title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.seller-section .product-cards .product-card .product-title {
  font-size: 18px;
  line-height: 24px;
  color: #141414;
}
.seller-section .product-cards .product-card .product-discount {
  font-size: 13px;
  line-height: 13px;
  border-radius: 6px;
  background-color: #141414;
}
.seller-section .product-cards .product-card .product-price {
  font-size: 16px;
  line-height: 22px;
  color: color-D61E2A;
}

.news_insights-section {
  margin-bottom: 120px;
}
.news_insights-section .news-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
.news_insights-section .news-sub-title {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
.news_insights-section .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.news_insights-section .product-cards .product-card {
  padding-inline: 14px;
}
.news_insights-section .product-cards .product-card .product-image {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 358px;
}
.news_insights-section .product-cards .product-card .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_insights-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 2;
  color: #141414;
}
.news_insights-section .product-cards .product-card .news-content .news-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.news_insights-section .product-cards .product-card .news-content .news-desc {
  font-size: 13px;
  line-height: 24px;
  color: #818181;
}
.news_insights-section .product-cards .product-card .news-content .red-btn {
  height: 32px;
}
.news_insights-section .product-cards .product-card .news-content .news-read {
  font-size: 16px;
  line-height: 24px;
  color: #D61E2A;
}

.left-right-image-section {
  padding-top: 285px;
  padding-bottom: 122px;
}
@media (max-width: 991px) {
  .left-right-image-section {
    padding-bottom: 80px;
    padding-top: 100px;
  }
}
.left-right-image-section .left-right-content .ourstory-title {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 29px;
  color: #141414;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .left-right-image-section .left-right-content .ourstory-title {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 12px;
  }
}
.left-right-image-section .left-right-content .aboutus-title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 29px;
  color: #141414;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .left-right-image-section .left-right-content .aboutus-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 19px;
  }
}
.left-right-image-section .left-right-content .aboutus-content .abt-content-title {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
  margin-bottom: 7px;
}
.left-right-image-section .left-right-content .aboutus-content .aboutus-des {
  font-size: 18px;
  line-height: 28px;
  color: #818181;
}
@media (max-width: 991px) {
  .left-right-image-section .left-right-content .aboutus-content .aboutus-des {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 19px;
  }
}
.left-right-image-section .left-right-img {
  height: 659px;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .left-right-image-section .left-right-img {
    height: 305px;
  }
}
.left-right-image-section .left-right-img.left-img {
  margin-right: auto;
}

.btnA {
  height: 55px;
  padding-left: 20px;
  padding-right: 35px;
  transition: 0.3s ease;
}
.btnA.bg-141414-btn {
  background-color: #141414;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
}
.btnA.bg-141414-btn:hover {
  background-color: #FFF8F4;
  color: #141414;
}
.btnA.bg-141414-btn:hover .btn-icon,
.btnA.bg-141414-btn:hover .cart-icon {
  filter: invert(1);
}
.btnA .btn-icon {
  height: 40px;
}
.btnA .red-btn {
  height: 30px;
}
.btnA .cart-icon {
  height: 26px !important;
}
.btnA.bg-D61E2A-btn {
  background-color: #D61E2A;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid transparent;
}
.btnA.bg-D61E2A-btn:hover {
  background-color: #FFF8F4;
  color: #141414;
  border: 1px solid #D61E2A;
}
.btnA.bg-D61E2A-btn:hover .btn-icon {
  filter: invert(1);
}

.history-slider .slick-list {
  overflow: visible;
}

.header-main {
  z-index: 99;
}
.header-main ul {
  list-style: none !important;
}
.header-main .header-top {
  background-color: #D61E2A;
  font-size: 16px;
  line-height: 25px;
  color: #FAFAFA;
}
.header-main .header-bottom {
  background-color: #FFF8F4;
}
.header-main .header-bottom .header-logo {
  font-size: 38px;
  line-height: 38px;
  color: #141414;
}
.header-main .header-bottom .list-item a {
  color: #141414;
}
.header-main .header-bottom .list-item:first-child {
  margin-left: 0px !important;
}
.header-main .header-bottom .list-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.header-main .header-bottom .current {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-icons .header-icon {
  height: 20px !important;
}
.header-main .header-bottom .header-icons .header-icon:first-child {
  margin-left: 0px !important;
}

.footer-main {
  background-color: #141414;
}
.footer-main .footer-img {
  height: 670px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.footer-main .footer-img img {
  transition: 0.4s ease;
}
.footer-main .footer-img:hover img {
  transform: scale(1.05);
}
.footer-main .footer-img .footer-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  z-index: 1;
}
.footer-main .footer-img .footer-content {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 40px;
  z-index: 2;
}
.footer-main .footer-img .newsletter-heading {
  font-size: 30px;
  line-height: 50px;
}
.footer-main .footer-img .newsletter-text {
  font-size: 14px;
  line-height: 16px;
}
.footer-main .footer-img .newsletter-box {
  height: 52px;
  padding: 0 22px;
  border-radius: 12px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-main .footer-img .newsletter-input {
  width: 100%;
  outline: none;
  font-size: 15px;
}
.footer-main .footer-img .newsletter-input::placeholder {
  color: rgba(247, 247, 247, 0.7);
}
.footer-main .footer-img .newsletter-btn {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.footer-main .footer-img .newsletter-btn img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}
.footer-main .footer-top {
  border-bottom: 1px solid rgba(247, 247, 247, 0.1);
}
.footer-main .footer-top .contact-footer .contact-us {
  font-size: 16px;
  line-height: 25px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-top .contact-footer .contact-call {
  font-size: 16px;
  line-height: 28px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-top .contact-footer .email-this {
  font-size: 16px;
  line-height: 28px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-top .location-footer .location-this {
  font-size: 16px;
  line-height: 25px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-top .location-footer .adress-for {
  font-size: 16px;
  line-height: 28px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-top .location-footer .location-btn {
  font-size: 16px;
  line-height: 28px;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-middle {
  border-bottom: 1px solid rgba(247, 247, 247, 0.1);
}
.footer-main .footer-middle ul {
  list-style: none;
}
.footer-main .footer-middle ul a {
  text-decoration: none;
  color: #F7F7F7;
  opacity: 50%;
}
.footer-main .footer-middle ul .footer-list {
  font-size: 16px;
  line-height: 28px;
}
.footer-main .footer-third {
  border-bottom: 1px solid rgba(247, 247, 247, 0.1);
}
.footer-main .footer-third .footer-icon {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(247, 247, 247, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main .footer-third .footer-icon:first-child {
  margin-left: 0px !important;
}
.footer-main .footer-third .footer-icon img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}
.footer-main .footer-third .footer-frem {
  height: 21px;
}
.footer-main .footer-bottom .text-bottom {
  font-size: 16px;
  line-height: 28px;
}
.footer-main .footer-bottom .text-bottom a {
  color: #F7F7F7;
  opacity: 50%;
}

.hero-section {
  height: 800px;
}
.hero-section .hero-content {
  transform: translate(-50%, -35%);
  left: 50% !important;
}
.hero-section .hero-content .hero-top {
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 25px;
}
.hero-section .hero-content .hero-middle {
  font-size: 50px;
  line-height: 65px;
  padding-bottom: 30px;
}
.hero-section .hero-content .hero-bottom {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 55px;
}

.top-strip-section {
  background-color: #FFF8F4;
  overflow: hidden;
  margin-bottom: 130px;
}
.top-strip-section .strip-item {
  margin-right: 80px;
  width: auto !important;
}
.top-strip-section .strip-item .strip-icon {
  height: 30px !important;
}
.top-strip-section .strip-item .strip-text {
  font-size: 15px;
  line-height: 14px;
  color: #141414;
}

.category-section {
  margin-top: 0px;
  margin-bottom: 150px;
}
.category-section.product-section {
  padding-top: 220px;
}
.category-section .category-cards .category-img {
  height: 205px;
}
.category-section .category-cards .category-img img {
  transition: 0.3s ease;
}
.category-section .category-cards .category-img:hover img {
  transform: scale(1.05);
}
.category-section .category-cards .category-title {
  font-size: 20px;
  line-height: 26px;
  color: #141414;
}
.category-section .category-cards .card-price {
  font-size: 10px;
  line-height: 28px;
  color: color-D61E2A;
}
.category-section .category-cards .color-price {
  font-size: 18px;
  line-height: 28px;
  color: color-D61E2A;
}

.collection-section {
  padding-bottom: 125px;
}
.collection-section .banner {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 958px;
}
.collection-section .banner .banner-content {
  position: absolute;
  top: 40px;
  left: 40px;
}
.collection-section .banner .banner-content .banner-tag {
  font-size: 18px;
  line-height: 27px;
}
.collection-section .banner .banner-content .banner-title {
  font-size: 50px;
  line-height: 50px;
}
.collection-section .banner .banner-content .banner-desc {
  font-size: 18px;
  line-height: 28px;
}
.collection-section .banner .banner-content .banner-btn {
  padding-top: 610px;
}
.collection-section .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.collection-section .product-cards .product-card {
  width: 50%;
  padding-inline: 14px;
}
.collection-section .product-cards .product-card .product-image {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 320px;
  cursor: pointer;
}
.collection-section .product-cards .product-card .product-image .wishlist {
  height: 25px;
}
.collection-section .product-cards .product-card .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease, transform 0.8s ease;
}
.collection-section .product-cards .product-card .primary-img {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.collection-section .product-cards .product-card .secondary-img {
  opacity: 0;
  transform: scale(1.1);
  z-index: 2;
}
.collection-section .product-cards .product-card:hover .primary-img {
  opacity: 0;
  transform: scale(1.1);
}
.collection-section .product-cards .product-card:hover .secondary-img {
  opacity: 1;
  transform: scale(1);
}
.collection-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 2;
  color: #141414;
}
.collection-section .product-cards .product-card .wishlist {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.collection-section .product-cards .product-card .product-info {
  padding-top: 14px;
}
.collection-section .product-cards .product-card .title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.collection-section .product-cards .product-card .product-title {
  font-size: 16px;
  line-height: 24px;
  color: #141414;
}
.collection-section .product-cards .product-card .product-discount {
  font-size: 13px;
  line-height: 13px;
  border-radius: 6px;
  background-color: #141414;
}
.collection-section .product-cards .product-card .product-price {
  font-size: 16px;
  line-height: 22px;
  color: #D61E2A;
}

.marquee-strip {
  overflow: hidden;
  margin-bottom: 140px;
  background-color: #FFF8F4;
}
.marquee-strip .marquee-track .slick-track {
  display: flex !important;
  align-items: center !important;
}
.marquee-strip .marquee-track .slick-slide {
  display: flex !important;
  align-items: center !important;
}
.marquee-strip .marquee-track .slick-slide > div {
  display: flex;
  align-items: center;
}
.marquee-strip .marquee-item {
  display: flex;
  align-items: center;
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 2px #d61e2a;
  margin-right: 45px;
  white-space: nowrap;
}
.marquee-strip .marquee-star {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.marquee-strip .marquee-star .marquee-star img {
  height: 100%;
  display: block;
}

.seller-section {
  margin-bottom: 190px;
}
.seller-section .seller-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
.seller-section .seller-sub-title {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
.seller-section .product-cards .product-card {
  padding-inline: 14px;
}
.seller-section .product-cards .product-card .product-image {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}
.seller-section .product-cards .product-card .product-image .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease;
}
.seller-section .product-cards .product-card .product-image .primary-img {
  opacity: 1;
  z-index: 1;
}
.seller-section .product-cards .product-card .product-image .secondary-img {
  opacity: 0;
  z-index: 2;
  transform: scale(1.1);
}
.seller-section .product-cards .product-card .product-image:hover .primary-img {
  opacity: 0;
  transform: scale(1.1);
}
.seller-section .product-cards .product-card .product-image:hover .secondary-img {
  opacity: 1;
  transform: scale(1);
}
.seller-section .product-cards .product-card .product-image {
  /* TAG + HEART */
}
.seller-section .product-cards .product-card .product-image .product-tag,
.seller-section .product-cards .product-card .product-image .wishlist {
  z-index: 10;
}
.seller-section .product-cards .product-card .product-image {
  /* BUTTON */
}
.seller-section .product-cards .product-card .product-image .hover-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) translateY(40px);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: all 0.5s ease;
}
.seller-section .product-cards .product-card .product-image:hover .hover-btn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.seller-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 3;
}
.seller-section .product-cards .product-card .wishlist {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.seller-section .product-cards .product-card .product-info {
  padding-top: 14px;
}
.seller-section .product-cards .product-card .title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.seller-section .product-cards .product-card .product-title {
  font-size: 18px;
  line-height: 24px;
  color: #141414;
}
.seller-section .product-cards .product-card .product-discount {
  font-size: 13px;
  line-height: 13px;
  border-radius: 6px;
  background-color: #141414;
}
.seller-section .product-cards .product-card .product-price {
  font-size: 16px;
  line-height: 22px;
  color: #D61E2A;
}

@keyframes moveRTL {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveLTR {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.news_insights-section {
  margin-bottom: 120px;
}
.news_insights-section .news-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
.news_insights-section .news-sub-title {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
.news_insights-section .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.news_insights-section .product-cards .product-card {
  padding-inline: 14px;
}
.news_insights-section .product-cards .product-card .product-image {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 358px;
}
.news_insights-section .product-cards .product-card .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_insights-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 2;
  color: #141414;
}
.news_insights-section .product-cards .product-card .news-content .news-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.news_insights-section .product-cards .product-card .news-content .news-desc {
  font-size: 13px;
  line-height: 24px;
  color: #818181;
}
.news_insights-section .product-cards .product-card .news-content .red-btn {
  height: 32px;
}
.news_insights-section .product-cards .product-card .news-content .news-read {
  font-size: 16px;
  line-height: 24px;
  color: color-D61E2A;
}

.storma-section {
  margin-bottom: 100px;
}
.storma-section .stroma-title {
  font-size: 40px;
  line-height: 50px;
  color: #141414;
}
.storma-section .storma-img {
  height: 360px;
}
.storma-section .storma-img img {
  transition: 0.4s ease;
}
.storma-section .storma-img:hover img {
  transform: scale(1.05);
}

@font-face {
  font-family: "dmsans-medium";
  src: url("../fonts/dmsans-medium.ttf");
}
@font-face {
  font-family: "dmsans-regular";
  src: url("../fonts/dmsans-regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Nunito-Light";
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf");
}
.dmsans-regular {
  font-family: "dmsans-regular";
}

.dmsans-medium {
  font-family: "dmsans-medium";
}

.Poppins-Regular {
  font-family: "Poppins-Regular";
}

.Poppins-Medium {
  font-family: "Poppins-Medium";
}

.Poppins-Bold {
  font-family: "Poppins-Bold";
}

.Poppins-Light {
  font-family: "Poppins-Light";
}

.Nunito-Light {
  font-family: "Nunito-Light";
}

.header-main {
  z-index: 99;
}
.header-main ul {
  list-style: none !important;
}
.header-main .header-top {
  background-color: #D61E2A;
  font-size: 16px;
  line-height: 25px;
  color: #FAFAFA;
}
.header-main .header-bottom {
  background-color: #FFF8F4;
}
.header-main .header-bottom .header-logo {
  font-size: 38px;
  line-height: 38px;
  color: #141414;
}
.header-main .header-bottom .list-item a {
  color: #141414;
}
.header-main .header-bottom .list-item:first-child {
  margin-left: 0px !important;
}
.header-main .header-bottom .list-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.header-main .header-bottom .current {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-icons .header-icon {
  height: 20px !important;
}
.header-main .header-bottom .header-icons .header-icon:first-child {
  margin-left: 0px !important;
}

.history-slider-section .history-slider-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
  text-transform: uppercase;
  margin-bottom: 52px;
}
@media (max-width: 991px) {
  .history-slider-section .history-slider-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 42px;
  }
}
.history-slider-section .history-slider .history-content .history-number {
  background: #d61e2a;
  min-width: 64px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #fff8f4;
  color: #FAFAFA;
  font-size: 15px;
}
@media (max-width: 991px) {
  .history-slider-section .history-slider .history-content .history-number {
    font-size: 13px;
  }
}
.history-slider-section .history-slider .history-content .history-line {
  height: 3px;
  width: 100%;
  background: #d61e2a;
}
.history-slider-section .history-slider .history-content .our-history-card {
  margin-top: 23px;
  padding-right: 20px;
}
.history-slider-section .history-slider .history-content .our-history-card .our-history-title {
  font-size: 18px;
  line-height: 24px;
  color: #141414;
  margin-top: 22px;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .history-slider-section .history-slider .history-content .our-history-card .our-history-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}
.history-slider-section .history-slider .history-content .our-history-card .our-history-img {
  height: 358px;
}
@media (max-width: 991px) {
  .history-slider-section .history-slider .history-content .our-history-card .our-history-img {
    height: 200px;
  }
}
.history-slider-section .history-slider .history-content .our-history-card .our-history-desc {
  font-size: 14px;
  line-height: 24px;
  color: #818181;
}
@media (max-width: 991px) {
  .history-slider-section .history-slider .history-content .our-history-card .our-history-desc {
    font-size: 13px;
    line-height: 21px;
  }
}

.team-section {
  padding-bottom: 145px;
}
@media (max-width: 991px) {
  .team-section {
    padding-bottom: 80px;
  }
}
.team-section .team-top .team-heading .team-title {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
@media (max-width: 991px) {
  .team-section .team-top .team-heading .team-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 7px;
  }
}
.team-section .team-top .team-heading .team-des {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
@media (max-width: 991px) {
  .team-section .team-top .team-heading .team-des {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .team-section .team-card .team-card-wrapper {
    margin-bottom: 30px;
  }
}
.team-section .team-card .team-card-wrapper .team-img {
  height: 358px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .team-section .team-card .team-card-wrapper .team-img {
    height: 300px;
  }
}
.team-section .team-card .team-card-wrapper .team-content .team-content-title {
  font-size: 20px;
  line-height: 26px;
  color: #D61E2A;
  margin-bottom: 14px;
}
@media (max-width: 991px) {
  .team-section .team-card .team-card-wrapper .team-content .team-content-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}
.team-section .team-card .team-card-wrapper .team-content .team-content-des {
  font-size: 16px;
  line-height: 25px;
  color: #818181;
}

.faq-section {
  padding-bottom: 170px;
}
@media (max-width: 991px) {
  .faq-section {
    padding-bottom: 80px;
  }
}
.faq-section .heading {
  font-size: 50px;
  line-height: 60px;
}
@media (max-width: 991px) {
  .faq-section .heading {
    font-size: 30px;
    line-height: 30px;
  }
}

.accordian-block .heading {
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 30px;
}
.accordian-block .closet-accordion:last-child {
  border-bottom: 1px solid rgba(20, 20, 20, 0.2509803922);
}
.accordian-block .closet-accordion .closet-item .closet-header {
  padding-top: 35px;
  padding-bottom: 35px;
  cursor: pointer;
  border-top: 1px solid rgba(20, 20, 20, 0.2509803922);
}
.accordian-block .closet-accordion .closet-item .closet-header .closet-header-title {
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 991px) {
  .accordian-block .closet-accordion .closet-item .closet-header .closet-header-title {
    font-size: 17px;
  }
}
.accordian-block .closet-accordion .closet-item .closet-header .accordion-close img {
  height: 24px;
}
.accordian-block .closet-accordion .closet-item .closet-header.active .accordion-close {
  transform: rotate(180deg);
}
.accordian-block .closet-accordion .closet-item .closet-content {
  display: none;
  padding-bottom: 35px;
}

.winter-collection-section {
  margin-bottom: 180px;
}
.winter-collection-section .winter-title {
  color: #141414;
  font-size: 50px;
  line-height: 50px;
}
.winter-collection-section .winter-desc {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
}
.winter-collection-section .toggle-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #FFF8F4;
  padding: 12px 20px;
  border-radius: 30px;
  width: max-content;
  margin-bottom: 100px;
}
.winter-collection-section .toggle-box .show-filter {
  font-size: 18px;
  line-height: 27px;
  color: #141414;
}
.winter-collection-section .toggle-box .switch {
  position: relative;
  width: 60px;
  height: 30px;
}
.winter-collection-section .toggle-box .switch input {
  display: none;
}
.winter-collection-section .toggle-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #818181;
  border-radius: 30px;
  transition: 0.3s;
}
.winter-collection-section .toggle-box .slider:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 3px;
  top: 3px;
  background: #D61E2A;
  border-radius: 50%;
  transition: 0.3s;
}
.winter-collection-section .toggle-box .winter-last-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.winter-collection-section .toggle-box {
  /* ON state */
}
.winter-collection-section .toggle-box .switch input:checked + .slider {
  background: #ffffff;
}
.winter-collection-section .toggle-box .switch input:checked + .slider:before {
  transform: translateX(30px);
}
.winter-collection-section .pagination {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.winter-collection-section .pagination a {
  text-decoration: none;
}
.winter-collection-section .pagination {
  /* Buttons */
}
.winter-collection-section .pagination .page-btn,
.winter-collection-section .pagination .page-number {
  border: none;
  background: #FFF8F4;
  color: #141414;
  height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  font-family: "Poppins-Regular";
  transition: 0.3s;
}
.winter-collection-section .pagination {
  /* Number Circle */
}
.winter-collection-section .pagination .page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.winter-collection-section .pagination {
  /* Active Page */
}
.winter-collection-section .pagination .page-number.active {
  background: #D61E2A;
  color: white;
}
.winter-collection-section .pagination {
  /* Hover Effect */
}
.winter-collection-section .pagination .page-btn:hover,
.winter-collection-section .pagination .page-number:hover {
  background: #818181;
}
.winter-collection-section .pagination .page-number.active:hover {
  background: #c91024;
}
.winter-collection-section .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.winter-collection-section .product-cards .product-card {
  padding-inline: 14px;
  padding-bottom: 70px;
}
.winter-collection-section .product-cards .product-card .product-image {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}
.winter-collection-section .product-cards .product-card .product-image .product-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease;
}
.winter-collection-section .product-cards .product-card .product-image .primary-img {
  opacity: 1;
  z-index: 1;
}
.winter-collection-section .product-cards .product-card .product-image .secondary-img {
  opacity: 0;
  z-index: 2;
  transform: scale(1.1);
}
.winter-collection-section .product-cards .product-card .product-image:hover .primary-img {
  opacity: 0;
  transform: scale(1.1);
}
.winter-collection-section .product-cards .product-card .product-image:hover .secondary-img {
  opacity: 1;
  transform: scale(1);
}
.winter-collection-section .product-cards .product-card .product-image {
  /* TAG + HEART */
}
.winter-collection-section .product-cards .product-card .product-image .product-tag,
.winter-collection-section .product-cards .product-card .product-image .wishlist {
  z-index: 10;
}
.winter-collection-section .product-cards .product-card .product-image {
  /* BUTTON */
}
.winter-collection-section .product-cards .product-card .product-image .hover-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) translateY(40px);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: all 0.5s ease;
}
.winter-collection-section .product-cards .product-card .product-image:hover .hover-btn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.winter-collection-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 3;
}
.winter-collection-section .product-cards .product-card .wishlist {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.winter-collection-section .product-cards .product-card .product-info {
  padding-top: 14px;
}
.winter-collection-section .product-cards .product-card .title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.winter-collection-section .product-cards .product-card .product-title {
  font-size: 18px;
  line-height: 24px;
  color: #141414;
}
.winter-collection-section .product-cards .product-card .product-discount {
  font-size: 13px;
  line-height: 13px;
  border-radius: 6px;
  background-color: #141414;
}
.winter-collection-section .product-cards .product-card .product-price {
  font-size: 16px;
  line-height: 22px;
  color: #D61E2A;
}

.winter-product-section {
  padding-top: 210px;
  padding-bottom: 135px;
}
.winter-product-section .winter-title {
  color: #141414;
  font-size: 18px;
  line-height: 27px;
}
.winter-product-section .winter-sub-title {
  color: #818181;
  font-size: 18px;
  line-height: 27px;
}
.winter-product-section .red-btn {
  height: 32px;
}
.winter-product-section .news-read {
  font-size: 16px;
  line-height: 24px;
  color: #D61E2A;
}
.winter-product-section .winter-cards {
  padding-top: 62px;
}
.winter-product-section .winter-cards .winter-products .winter-image {
  height: 358px;
  width: 345px;
  overflow: hidden;
  border-radius: 22px;
}
.winter-product-section .winter-cards .right-content .right-tag {
  font-size: 14px;
  line-height: 14px;
  padding: 15px 20px;
  background-color: #F7F7F7;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .wishlist {
  height: 22px;
}
.winter-product-section .winter-cards .right-content .right-title {
  font-size: 50px;
  line-height: 65px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .red-tag {
  font-size: 26px;
  line-height: 39px;
  color: #D61E2A;
}
.winter-product-section .winter-cards .right-content .line-tag {
  font-size: 18px;
  line-height: 27px;
  color: #818181;
}
.winter-product-section .winter-cards .right-content .black-tag {
  background-color: #141414;
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  padding: 8px 10px;
  border-radius: 10px;
}
.winter-product-section .winter-cards .right-content .right-desc {
  font-size: 16px;
  line-height: 28px;
  color: #818181;
}
.winter-product-section .winter-cards .right-content .colors-item .list-color {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .colors-item .bg-wrapper {
  padding: 2px;
  border: 1px solid #8c7972;
  border-radius: 50px;
}
.winter-product-section .winter-cards .right-content .colors-item .bg-wrapper .brouwn-bg {
  background-color: #8c7972;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.winter-product-section .winter-cards .right-content .colors-item .green-bg {
  background-color: #1a5442;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.winter-product-section .winter-cards .right-content .colors-item .blue-bg {
  background-color: #153e76;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.winter-product-section .winter-cards .right-content .size-item .size-text {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .size-item .size-list {
  padding-bottom: 80px;
}
.winter-product-section .winter-cards .right-content .size-item .size-list .size-wrapper {
  border: 1px solid #707070;
  border-radius: 20px;
}
.winter-product-section .winter-cards .right-content .size-item .size-list .size-wrapper.active {
  border: none;
}
.winter-product-section .winter-cards .right-content .size-item .size-list .size-wrapper .size-index {
  font-size: 14px;
  line-height: 14px;
  color: #141414;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 0px;
}
.winter-product-section .winter-cards .right-content .size-item .size-list .size-wrapper .size-index.active {
  background-color: #D61E2A !important;
  color: #ffffff;
}
.winter-product-section .winter-cards .right-content .card-item {
  padding-bottom: 85px;
}
.winter-product-section .winter-cards .right-content .card-item .quantity-box {
  height: 50px;
  border: 1px solid #141414;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #fff;
  gap: 30px;
}
.winter-product-section .winter-cards .right-content .card-item .quantity-box .qty-btn {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #141414;
  cursor: pointer;
}
.winter-product-section .winter-cards .right-content .card-item .quantity-box .qty-number {
  font-size: 14px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .card-item .cart-btn {
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #141414;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  padding: 12px 220px;
}
.winter-product-section .winter-cards .right-content .card-item .cart-btn .card-icon {
  height: 24px;
}
.winter-product-section .winter-cards .right-content .look-item .look-title {
  color: #141414;
  font-size: 25px;
  line-height: 50px;
}
.winter-product-section .winter-cards .right-content .look-item .look-list {
  margin-bottom: 100px;
}
.winter-product-section .winter-cards .right-content .look-item .look-list .look-img {
  height: 80px;
}
.winter-product-section .winter-cards .right-content .look-item .look-list .look-tag {
  font-size: 10px;
  line-height: 13px;
  padding: 20px;
  background-color: #F7F7F7;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .look-item .look-list .look-text {
  font-size: 16px;
  line-height: 21px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .look-item .look-list .look-price {
  font-size: 14px;
  line-height: 18px;
  color: #D61E2A;
}
.winter-product-section .winter-cards .right-content .faq-list {
  margin-bottom: 20px;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-heading {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-item {
  border-top: 1px solid #bdbdbd;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-item:last-child {
  border-bottom: 1px solid #bdbdbd;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  cursor: pointer;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-question {
  font-size: 20px;
  line-height: 26px;
  color: #141414;
}
.winter-product-section .winter-cards .right-content .faq-list .down-arrow {
  height: 23px;
  transition: 0.3s ease;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-answer {
  font-size: 14px;
  line-height: 30px;
  color: #818181;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-item.active .faq-answer {
  max-height: 300px;
}
.winter-product-section .winter-cards .right-content .faq-list .faq-item.active .down-arrow {
  transform: rotate(180deg);
}

.fashion-arrival-section {
  padding: 20px;
  margin-bottom: 140px;
}
.fashion-arrival-section .fashion-arrival-wrapper {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  min-height: 700px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 960px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-card.fashion-small-banner {
  height: 470px;
  margin-bottom: 16px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-card.fashion-small-banner:last-child {
  margin-bottom: 0px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-content {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-small-title {
  font-size: 18px;
  line-height: 27px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-title {
  font-size: 50px;
  line-height: 50px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-banner-text.banner-padding {
  padding-bottom: 600px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-right-side {
  display: flex;
  flex-direction: column;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-right-side .fashion-content-right .fashion-banner-content {
  left: auto;
  right: 35px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-small-banner .fashion-banner-title {
  font-size: 52px;
}
.fashion-arrival-section .fashion-arrival-wrapper .fashion-small-banner .fashion-banner-text {
  font-size: 18px;
  line-height: 28px;
}

.style-hub-section {
  padding-bottom: 140px;
  /* LEFT SIDE */
}
.style-hub-section .style-hub-content {
  padding-right: 40px;
}
.style-hub-section .style-hub-content .style-hub-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #141414;
}
.style-hub-section .style-hub-content .style-hub-heading {
  font-size: 50px;
  line-height: 50px;
  color: #141414;
}
.style-hub-section .style-hub-content .style-hub-description {
  font-size: 16px;
  line-height: 28px;
  color: #141414;
}
.style-hub-section {
  /* RIGHT SIDE */
}
.style-hub-section .style-hub-faq-card {
  border-top: 1px solid rgba(20, 20, 20, 0.2509803922);
}
.style-hub-section .style-hub-faq-card:last-child {
  border-bottom: 1px solid rgba(20, 20, 20, 0.2509803922);
}
.style-hub-section .style-hub-faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  cursor: pointer;
}
.style-hub-section .style-hub-faq-header {
  font-size: 20px;
  color: #141414;
  margin-bottom: 0px;
}
.style-hub-section .down-arrow {
  height: 23px;
  transition: 0.3s ease;
}
.style-hub-section .style-hub-faq-body {
  display: none;
}
.style-hub-section .style-hub-faq-body .hub-ans {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 27px;
  color: #818181;
  max-width: 700px;
  margin-bottom: 0;
}
.style-hub-section .style-hub-faq-card.active .down-arrow {
  transform: rotate(180deg);
}

.contact-section {
  padding-top: 280px;
}
.contact-section .contact-info .contact-content {
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .contact-section .contact-info .contact-content {
    padding-bottom: 30px;
  }
}
.contact-section .contact-info .contact-content .contact-title {
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .contact-section .contact-info .contact-content .contact-title {
    font-size: 30px;
    line-height: 30px;
  }
}
.contact-section .contact-info .contact-content .contact-des {
  font-size: 18px;
  line-height: 28px;
  color: #141414;
}
.contact-section .contact-info .left-content {
  margin-bottom: 37px;
}
@media (max-width: 991px) {
  .contact-section .contact-info .left-content {
    margin-bottom: 20px;
  }
}
.contact-section .contact-info .left-content .menu-title {
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.contact-section .contact-info .left-content .menu-des {
  font-size: 16px;
  line-height: 28px;
  color: #141414;
  opacity: 50%;
}
.contact-section .contact-form-wrapper .form-title {
  font-size: 30px;
  line-height: 60px;
  color: #141414;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .contact-section .contact-form-wrapper .form-title {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.contact-section .contact-form-wrapper .form-group {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .contact-section .contact-form-wrapper .form-group {
    margin-bottom: 20px;
  }
}
.contact-section .contact-form-wrapper .form-group label {
  display: block;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.contact-section .contact-form-wrapper .form-group input {
  width: 100%;
  border: 1px solid rgba(129, 129, 129, 0.3019607843);
  background: #ffe7e0;
  border-radius: 10px;
  height: 52px;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
  opacity: 50%;
}
.contact-section .contact-form-wrapper .form-group input:focus {
  border-color: none;
}
.contact-section .contact-form-wrapper .form-group textarea {
  height: 145px;
  width: 100%;
  background: #ffe7e0;
  border-radius: 10px;
  opacity: 50%;
  border: 1px solid rgba(129, 129, 129, 0.3019607843);
}

.policy-link-section {
  background-color: #D61E2A;
}
.policy-link-section .sticky-content {
  overflow: auto;
}
.policy-link-section .sticky-content::-webkit-scrollbar {
  display: none;
}
.policy-link-section .sticky-content .policy-menu {
  padding-top: 28px;
  padding-bottom: 28px;
  overflow: visible;
}
.policy-link-section .sticky-content .policy-menu::-webkit-scrollbar {
  display: none;
}
.policy-link-section .sticky-content .policy-menu li {
  list-style-type: none;
  margin-right: 20px;
}
.policy-link-section .sticky-content .policy-menu li a {
  color: #FFF8F4;
  opacity: 50%;
  white-space: nowrap;
}
.policy-link-section .sticky-content .policy-menu li.active a {
  color: #FFF8F4;
  opacity: 100%;
  text-decoration: underline !important;
}

.policy-section {
  padding-top: 122px;
  padding-bottom: 122px;
}
@media (max-width: 991px) {
  .policy-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.policy-section .policy-content .policy-block {
  border-bottom: 1px solid rgba(20, 20, 20, 0.25);
  margin-top: 65px;
}
@media (max-width: 991px) {
  .policy-section .policy-content .policy-block {
    margin-top: 50px;
  }
}
.policy-section .policy-content .policy-block:last-child {
  border-bottom: none;
}
.policy-section .policy-content .policy-block .policy-title {
  font-size: 30px;
  line-height: 60px;
  color: #141414;
}
@media (max-width: 991px) {
  .policy-section .policy-content .policy-block .policy-title {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}
.policy-section .policy-content .policy-block .policy-des {
  font-size: 16px;
  line-height: 28px;
  color: #818181;
  margin-bottom: 26px;
}
@media (max-width: 991px) {
  .policy-section .policy-content .policy-block .policy-des {
    font-size: 14px;
    line-height: 24px;
  }
}
.policy-section .policy-content .policy-block .policy-des:last-child {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .policy-section .policy-content .policy-block .policy-des:last-child {
    margin-bottom: 50px;
  }
}
.policy-section .policy-content .policy-block .policy-list {
  font-size: 16px;
  line-height: 28px;
  color: #818181;
  margin-bottom: 13px;
}/*# sourceMappingURL=main.css.map */