.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

.row24 {
  margin-left: -24px;
  margin-right: -24px;
}
.row24 > * {
  padding-left: 24px;
  padding-right: 24px;
}

.bg-D61E2A {
  background-color: #D61E2A;
}

.bg-FFF8F4 {
  background-color: #FFF8F4;
}

.bg-141414 {
  background-color: #141414;
}

.text-FAFAFA {
  color: #FAFAFA;
}

.text-141414 {
  color: #141414;
}

.text-D61E2A {
  color: #D61E2A;
}

.btnA {
  height: 55px;
  padding-left: 20px;
  padding-right: 35px;
  transition: 0.3s ease;
}
.btnA.bg-141414-btn {
  background-color: #141414;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
}
.btnA.bg-141414-btn:hover {
  background-color: #FFF8F4;
  color: #141414;
}
.btnA.bg-141414-btn:hover .btn-icon {
  filter: invert(1);
}
.btnA.bg-141414-btn .btn-icon {
  height: 40px;
}

.header-main {
  z-index: 99;
}
.header-main ul {
  list-style: none !important;
}
.header-main .header-top {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-logo {
  font-size: 38px;
  line-height: 38px;
}
.header-main .header-bottom .list-item:first-child {
  margin-left: 0px !important;
}
.header-main .header-bottom .list-text {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .current {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-icons .header-icon {
  height: 20px !important;
}
.header-main .header-bottom .header-icons .header-icon:first-child {
  margin-left: 0px !important;
}

.hero-section {
  height: 800px;
}
.hero-section .hero-content {
  transform: translate(-50%, -50%);
  left: 50% !important;
}
.hero-section .hero-content .hero-top {
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 25px;
}
.hero-section .hero-content .hero-middle {
  font-size: 50px;
  line-height: 65px;
  padding-bottom: 30px;
}
.hero-section .hero-content .hero-bottom {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 55px;
}

.top-strip-section {
  overflow: hidden;
  margin-bottom: 130px;
}
.top-strip-section .strip-item {
  margin-right: 80px;
  width: auto !important;
}
.top-strip-section .strip-item .strip-icon {
  height: 30px !important;
}
.top-strip-section .strip-item .strip-text {
  font-size: 15px;
  line-height: 14px;
}

.category-section {
  margin-bottom: 150px;
}
.category-section .category-cards .category-img {
  height: 205px;
}
.category-section .category-cards .category-title {
  font-size: 20px;
  line-height: 26px;
}
.category-section .category-cards .card-price {
  font-size: 10px;
  line-height: 28px;
}
.category-section .category-cards .color-price {
  font-size: 18px;
  line-height: 28px;
}

.collection-section {
  padding-bottom: 125px;
}
.collection-section .banner {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 958px;
}
.collection-section .banner .banner-content {
  position: absolute;
  top: 40px;
  left: 40px;
}
.collection-section .banner .banner-content .banner-tag {
  font-size: 18px;
  line-height: 27px;
}
.collection-section .banner .banner-content .banner-title {
  font-size: 50px;
  line-height: 50px;
}
.collection-section .banner .banner-content .banner-desc {
  font-size: 18px;
  line-height: 28px;
}
.collection-section .banner .banner-content .banner-btn {
  padding-top: 610px;
}
.collection-section .product-cards {
  display: flex;
  flex-wrap: wrap;
}
.collection-section .product-cards .product-card {
  width: 50%;
  padding-inline: 14px;
}
.collection-section .product-cards .product-card .product-image {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 320px;
}
.collection-section .product-cards .product-card .product-image .wishlist {
  height: 25px;
}
.collection-section .product-cards .product-card .product-tag {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 10px;
  border-radius: 6px;
  z-index: 2;
}
.collection-section .product-cards .product-card .wishlist {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.collection-section .product-cards .product-card .product-info {
  padding-top: 14px;
}
.collection-section .product-cards .product-card .title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.collection-section .product-cards .product-card .product-title {
  font-size: 18px;
  line-height: 24px;
}
.collection-section .product-cards .product-card .product-discount {
  font-size: 13px;
  line-height: 13px;
  border-radius: 6px;
}
.collection-section .product-cards .product-card .product-price {
  font-size: 16px;
  line-height: 22px;
}

.marquee-strip {
  overflow: hidden;
  margin-bottom: 400px;
}

.marquee-track .slick-track {
  display: flex !important;
  align-items: center !important;
}

.marquee-track .slick-slide {
  display: flex !important;
  align-items: center !important;
}

.marquee-track .slick-slide > div {
  display: flex;
  align-items: center;
}

.marquee-item {
  display: flex;
  align-items: center;
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 2px #D61E2A;
  margin-right: 45px;
  white-space: nowrap;
}

.marquee-star {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.marquee-star img {
  height: 100%;
  display: block;
}

@font-face {
  font-family: "dmsans-medium";
  src: url("../fonts/dmsans-medium.ttf");
}
@font-face {
  font-family: "dmsans-regular";
  src: url("../fonts/dmsans-regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
.dmsans-regular {
  font-family: "dmsans-regular";
}

.dmsans-medium {
  font-family: "dmsans-medium";
}

.Poppins-Regular {
  font-family: "Poppins-Regular";
}

.Poppins-Medium {
  font-family: "Poppins-Medium";
}

.Poppins-Bold {
  font-family: "Poppins-Bold";
}

.header-main {
  z-index: 99;
}
.header-main ul {
  list-style: none !important;
}
.header-main .header-top {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-logo {
  font-size: 38px;
  line-height: 38px;
}
.header-main .header-bottom .list-item:first-child {
  margin-left: 0px !important;
}
.header-main .header-bottom .list-text {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .current {
  font-size: 16px;
  line-height: 25px;
}
.header-main .header-bottom .header-icons .header-icon {
  height: 20px !important;
}
.header-main .header-bottom .header-icons .header-icon:first-child {
  margin-left: 0px !important;
}

/*# sourceMappingURL=main.css.map */
